
## start from stock init.rc 
on init
    #
    # Add '/mnt/sdcard' for external sdcard
    # and '/mnt/sdcard2' for internal sdcard
    # by ZTE_BOOT_JIA_20120615 jia.jia
    #
    export EXTERNAL_STORAGE /mnt/sdcard
    export SECONDARY_STORAGE /mnt/sdcard2

# create mountpoints
    mkdir /mnt 0775 root system

    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/sdcard2 0000 system system
    mkdir /carrier 0770 system system

    symlink /mnt/sdcard /sdcard
    symlink /mnt/sdcard2 /Device  

# ZTE_PM_SLF_001:modify the permissions of PM interface
    chmod 0660 /sys/module/pm8921_charger/parameters/disabled
    chmod 0660 /sys/module/pm8921_charger/parameters/enable_to_shutdown
    chmod 0660 /sys/class/rtc/rtc0/wakealarm
    chmod 0660 /sys/kernel/debug/gpio_debug/gpio_get
    chmod 0660 /sys/kernel/debug/gpio_debug/gpio_out_l
    chmod 0660 /sys/kernel/debug/gpio_debug/gpio_out_h

    chown root system /sys/module/pm8921_charger/parameters/disabled
    chown root system /sys/module/pm8921_charger/parameters/enable_to_shutdown
    chown root system /sys/class/rtc/rtc0/wakealarm
    chown root system /sys/kernel/debug/gpio_debug/gpio_get
    chown root system /sys/kernel/debug/gpio_debug/gpio_out_l
    chown root system /sys/kernel/debug/gpio_debug/gpio_out_h    
# ZTE_PM_SLF_001:end

on emmc-fs
# mount mmc partitions

#
# Set prop of 'persist' as 'rw' instead of 'ro' by ZTE_BOOT_JIA_20120703 jia.jia
#
# ZTE_BOOT_JIA_20120703 jia.jia --->
    wait /dev/block/platform/msm_sdcc.1/by-name/system
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro barrier=1
  
    #------userdata----------
    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    exec /system/bin/sh -c "/system/bin/ext4check.sh USERDATA /dev/block/platform/msm_sdcc.1/by-name/userdata"
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/userdata /data nosuid nodev barrier=1 noauto_da_alloc
    #------persist----------
    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    exec /system/bin/sh -c "/system/bin/ext4check.sh PERSIST /dev/block/platform/msm_sdcc.1/by-name/persist"
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist rw nosuid nodev barrier=1
    #------cache----------
    wait /dev/block/platform/msm_sdcc.1/by-name/cache
    exec /system/bin/sh -c "/system/bin/ext4check.sh CACHE /dev/block/platform/msm_sdcc.1/by-name/cache"
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev barrier=1
    #------tombstones----------
    wait /dev/block/platform/msm_sdcc.1/by-name/tombstones
    exec /system/bin/sh -c "/system/bin/ext4check.sh TOMBSTONES /dev/block/platform/msm_sdcc.1/by-name/tombstones"
  
    #------sdcarddata----------
    wait /dev/block/platform/msm_sdcc.1/by-name/sdcarddata
    exec /system/bin/format_vfat
    
    #------carrier----------
    wait /dev/block/platform/msm_sdcc.1/by-name/carrier
    exec /system/bin/sh -c "/system/bin/ext4check.sh CARRIER /dev/block/platform/msm_sdcc.1/by-name/carrier"
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/carrier /carrier rw nosuid nodev barrier=1
# ZTE_BOOT_JIA_20120412 jia.jia <---

on post-fs
  
    #
    # Add '/mnt/carrier for vendor requirement
    # by ZTE_BOOT_JIA_20120630 jia.jia
    #
    chown system system /carrier
    chmod 0771 /carrier

    #jinzhiqiang add fuse point
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media    

on post-fs-data
  
    mkdir /sys/ispfw/ispfwupdate  0771 shell shell
    

on boot
# xiongyiming begin
    chown root system /proc/touchscreen/ts_information
# xiongyiming end
  
#add by lukai -------------
# Change owner&&group for AKM and gsensor devices
    chown system  system /sys/class/compass/akm8962/enable_acc
    chown system  system /sys/class/compass/akm8962/enable_mag
    chown system  system /sys/class/compass/akm8962/enable_ori
    chown system  system /sys/class/compass/akm8962/delay_acc
    chown system  system /sys/class/compass/akm8962/delay_mag
    chown system  system /sys/class/compass/akm8962/delay_ori	
    chown system  system /sys/class/compass/akm8962/accel
    
    chown system  system /sys/devices/i2c-12/12-000f/enable
    chown system  system /sys/devices/i2c-12/12-000f/poll
#add by lukai -------------    
   
#ZTE_TORCH_SLF_20120319 BEGIN
    chown system camera /sys/class/leds/flashlight/brightness
    chmod 0774 /sys/class/leds/flashlight/brightness

    chown system system /sys/class/leds/led:battery_charging/brightness
    chmod 0774 /sys/class/leds/led:battery_charging/brightness
    chown system system /sys/class/leds/led:battery_charging/blink
    chmod 0774 /sys/class/leds/led:battery_charging/blink
    
    chown system system /sys/class/leds/led:battery_full/brightness
    chmod 0774 /sys/class/leds/led:battery_full/brightness
    chown system system /sys/class/leds/led:battery_full/blink
    chmod 0774 /sys/class/leds/led:battery_full/blink
 #ZTE_TORCH_SLF_20120319 end

# merged from 8x60-gb by ZTE_BOOT_JIA_20120110 jia.jia
# ZTE_ZHP_20110714 add getlogtofile control,user version is close and eng version is open by default.
#    setprop persist.sys.ztelog.enable 1
#add end

## Daemon processes to be run by init.
##

# merged from 8x60-gb by ZTE_BOOT_JIA_20120110 jia.jia

on property:persist.sys.ztelog.enable=1
    start getlog

# merged from 8x60-gb by ZTE_BOOT_JIA_20120110 jia.jia

on property:persist.sys.ztelog.enable=0
    stop getlog

# This property trigger has added to imitiate the previous behavior of "adb root".
# The adb gadget driver used to reset the USB bus when the adbd daemon exited,
# and the host side adb relied on this behavior to force it to reconnect with the
# new adbd instance after init relaunches it. So now we force the USB bus to reset
# here when adbd sets the service.adb.root property to 1.  We also restart adbd here
# rather than waiting for init to notice its death and restarting it so the timing
# of USB resetting and adb restarting more closely matches the previous behavior.
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

#ZTE_RIL_RJG_20100804 begin,disabled
service sdlog-daemon /system/bin/sdlog
    class late_start
    disabled
    
on property:persist.service.sdlog.enable=1
    start sdlog-daemon
#ZTE_RIL_RJG_20100804 end		

#======= bluetooth services +++==========================
#zte_bt_dm_20120110 add for 7x27A_*983*24474636# chipertest
service bluetooth_prop /system/bin/sh /system/bin/init.btprop.sh
    class late_start
    oneshot
#20120110 end

# merged from 8x60-gb by ZTE_BOOT_JIA_20120110 jia.jia
service getlog /system/bin/getlogtofile
    user root
#   disabled
    oneshot

	
service hostapd /system/bin/hostapd -dddd /data/misc/wifi/hostapd.conf
    class late_start
    user root
    group wifi
    oneshot
    disabled

//For wcn3660 rf test	-	pengji
service wifi_ftmd /system/bin/wifi_ftmd
   socket wifi_ftmd dgram 0666
    disabled
    oneshot
	
service wlan_prop /system/bin/sh /system/etc/init.wlanprop.sh
	class late_start
    oneshot

# ZTE_FMC_ZL_20120202,begin
service pppd /system/bin/pppd file /data/data/zte.com.android.ppptunl/pppd.conf
    class late_start 
    user root
    oneshot
    disabled

	
# ZTE_RIL_YAOSUJUAN_20110309 begin
on property:persist.radio.gcftest=1
    stop DrmHost
# ZTE_RIL_YAOSUJUAN_20110309 end

#ruanmeisi
service hibernate /system/bin/hibernate
    class late_start 
    disabled
    oneshot

#ZTE_HWY_FOR_FORMAT_CARRIER 20120427 begin                      
service formatcarrier /system/bin/sh /system/bin/hm_format_carrier.sh                      
    class late_start                                    
    user root                                   
    oneshot                                                           
    disabled                                                                         
#ZTE_HWY_FOR_FORMAT_CARRIER 20120427 end 

## end from stock init.rc

